<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rare_earth_track.mgb.mapper.RetProductMapper">
  <resultMap id="BaseResultMap" type="com.rare_earth_track.mgb.model.RetProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="dispatch_time" jdbcType="TIMESTAMP" property="dispatchTime" />
    <result column="moisture_proof_logo" jdbcType="VARCHAR" property="moistureProofLogo" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="packing_type" jdbcType="VARCHAR" property="packingType" />
    <result column="net_weight" jdbcType="VARCHAR" property="netWeight" />
    <result column="transport_log" jdbcType="VARCHAR" property="transportLog" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="quality_certificate" jdbcType="VARCHAR" property="qualityCertificate" />
    <result column="standard_number" jdbcType="VARCHAR" property="standardNumber" />
    <result column="mining_technology" jdbcType="VARCHAR" property="miningTechnology" />
    <result column="mine" jdbcType="VARCHAR" property="mine" />
    <result column="separate" jdbcType="VARCHAR" property="separate" />
    <result column="oxygen_levels" jdbcType="VARCHAR" property="oxygenLevels" />
    <result column="pressure" jdbcType="VARCHAR" property="pressure" />
    <result column="magnetic_field" jdbcType="VARCHAR" property="magneticField" />
    <result column="Nd" jdbcType="VARCHAR" property="nd" />
    <result column="Co" jdbcType="VARCHAR" property="co" />
    <result column="B" jdbcType="VARCHAR" property="b" />
    <result column="Dy_Tb_Pr" jdbcType="VARCHAR" property="dyTbPr" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="RE" jdbcType="VARCHAR" property="re" />
    <result column="Nd_RE" jdbcType="VARCHAR" property="ndRe" />
    <result column="Dy_RE" jdbcType="VARCHAR" property="dyRe" />
    <result column="REO" jdbcType="VARCHAR" property="reo" />
    <result column="Nd2O3_REO" jdbcType="VARCHAR" property="nd2o3Reo" />
    <result column="Nd2O3" jdbcType="VARCHAR" property="nd2o3" />
    <result column="Dy2O3_REO" jdbcType="VARCHAR" property="dy2o3Reo" />
    <result column="RE_impurities" jdbcType="VARCHAR" property="reImpurities" />
    <result column="non_RE_impurities" jdbcType="VARCHAR" property="nonReImpurities" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rare_earth_track.mgb.model.RetProduct">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, factory_id, name, batch_id, factory, dispatch_time, moisture_proof_logo, specification, 
    packing_type, net_weight, transport_log, pic, quality_certificate, standard_number, 
    mining_technology, mine, separate, oxygen_levels, pressure, magnetic_field, Nd, Co, 
    B, Dy_Tb_Pr, other, RE, Nd_RE, Dy_RE, REO, Nd2O3_REO, Nd2O3, Dy2O3_REO, RE_impurities, 
    non_RE_impurities
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.rare_earth_track.mgb.model.RetProductExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.rare_earth_track.mgb.model.RetProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ret_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ret_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.rare_earth_track.mgb.model.RetProductExample">
    delete from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ret_product (factory_id, name, batch_id, 
      factory, dispatch_time, moisture_proof_logo, 
      specification, packing_type, net_weight, 
      transport_log, pic, quality_certificate, 
      standard_number, mining_technology, mine, 
      separate, oxygen_levels, pressure, 
      magnetic_field, Nd, Co, 
      B, Dy_Tb_Pr, other, RE, 
      Nd_RE, Dy_RE, REO, Nd2O3_REO, 
      Nd2O3, Dy2O3_REO, RE_impurities, 
      non_RE_impurities, description)
    values (#{factoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{batchId,jdbcType=VARCHAR}, 
      #{factory,jdbcType=VARCHAR}, #{dispatchTime,jdbcType=TIMESTAMP}, #{moistureProofLogo,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{packingType,jdbcType=VARCHAR}, #{netWeight,jdbcType=VARCHAR}, 
      #{transportLog,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{qualityCertificate,jdbcType=VARCHAR}, 
      #{standardNumber,jdbcType=VARCHAR}, #{miningTechnology,jdbcType=VARCHAR}, #{mine,jdbcType=VARCHAR}, 
      #{separate,jdbcType=VARCHAR}, #{oxygenLevels,jdbcType=VARCHAR}, #{pressure,jdbcType=VARCHAR}, 
      #{magneticField,jdbcType=VARCHAR}, #{nd,jdbcType=VARCHAR}, #{co,jdbcType=VARCHAR}, 
      #{b,jdbcType=VARCHAR}, #{dyTbPr,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{re,jdbcType=VARCHAR}, 
      #{ndRe,jdbcType=VARCHAR}, #{dyRe,jdbcType=VARCHAR}, #{reo,jdbcType=VARCHAR}, #{nd2o3Reo,jdbcType=VARCHAR}, 
      #{nd2o3,jdbcType=VARCHAR}, #{dy2o3Reo,jdbcType=VARCHAR}, #{reImpurities,jdbcType=VARCHAR}, 
      #{nonReImpurities,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ret_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="factory != null">
        factory,
      </if>
      <if test="dispatchTime != null">
        dispatch_time,
      </if>
      <if test="moistureProofLogo != null">
        moisture_proof_logo,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="packingType != null">
        packing_type,
      </if>
      <if test="netWeight != null">
        net_weight,
      </if>
      <if test="transportLog != null">
        transport_log,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="qualityCertificate != null">
        quality_certificate,
      </if>
      <if test="standardNumber != null">
        standard_number,
      </if>
      <if test="miningTechnology != null">
        mining_technology,
      </if>
      <if test="mine != null">
        mine,
      </if>
      <if test="separate != null">
        separate,
      </if>
      <if test="oxygenLevels != null">
        oxygen_levels,
      </if>
      <if test="pressure != null">
        pressure,
      </if>
      <if test="magneticField != null">
        magnetic_field,
      </if>
      <if test="nd != null">
        Nd,
      </if>
      <if test="co != null">
        Co,
      </if>
      <if test="b != null">
        B,
      </if>
      <if test="dyTbPr != null">
        Dy_Tb_Pr,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="re != null">
        RE,
      </if>
      <if test="ndRe != null">
        Nd_RE,
      </if>
      <if test="dyRe != null">
        Dy_RE,
      </if>
      <if test="reo != null">
        REO,
      </if>
      <if test="nd2o3Reo != null">
        Nd2O3_REO,
      </if>
      <if test="nd2o3 != null">
        Nd2O3,
      </if>
      <if test="dy2o3Reo != null">
        Dy2O3_REO,
      </if>
      <if test="reImpurities != null">
        RE_impurities,
      </if>
      <if test="nonReImpurities != null">
        non_RE_impurities,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null">
        #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moistureProofLogo != null">
        #{moistureProofLogo,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="packingType != null">
        #{packingType,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null">
        #{netWeight,jdbcType=VARCHAR},
      </if>
      <if test="transportLog != null">
        #{transportLog,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="qualityCertificate != null">
        #{qualityCertificate,jdbcType=VARCHAR},
      </if>
      <if test="standardNumber != null">
        #{standardNumber,jdbcType=VARCHAR},
      </if>
      <if test="miningTechnology != null">
        #{miningTechnology,jdbcType=VARCHAR},
      </if>
      <if test="mine != null">
        #{mine,jdbcType=VARCHAR},
      </if>
      <if test="separate != null">
        #{separate,jdbcType=VARCHAR},
      </if>
      <if test="oxygenLevels != null">
        #{oxygenLevels,jdbcType=VARCHAR},
      </if>
      <if test="pressure != null">
        #{pressure,jdbcType=VARCHAR},
      </if>
      <if test="magneticField != null">
        #{magneticField,jdbcType=VARCHAR},
      </if>
      <if test="nd != null">
        #{nd,jdbcType=VARCHAR},
      </if>
      <if test="co != null">
        #{co,jdbcType=VARCHAR},
      </if>
      <if test="b != null">
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="dyTbPr != null">
        #{dyTbPr,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="re != null">
        #{re,jdbcType=VARCHAR},
      </if>
      <if test="ndRe != null">
        #{ndRe,jdbcType=VARCHAR},
      </if>
      <if test="dyRe != null">
        #{dyRe,jdbcType=VARCHAR},
      </if>
      <if test="reo != null">
        #{reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3Reo != null">
        #{nd2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3 != null">
        #{nd2o3,jdbcType=VARCHAR},
      </if>
      <if test="dy2o3Reo != null">
        #{dy2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="reImpurities != null">
        #{reImpurities,jdbcType=VARCHAR},
      </if>
      <if test="nonReImpurities != null">
        #{nonReImpurities,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rare_earth_track.mgb.model.RetProductExample" resultType="java.lang.Long">
    select count(*) from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ret_product
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.factoryId != null">
        factory_id = #{row.factoryId,jdbcType=BIGINT},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.batchId != null">
        batch_id = #{row.batchId,jdbcType=VARCHAR},
      </if>
      <if test="row.factory != null">
        factory = #{row.factory,jdbcType=VARCHAR},
      </if>
      <if test="row.dispatchTime != null">
        dispatch_time = #{row.dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.moistureProofLogo != null">
        moisture_proof_logo = #{row.moistureProofLogo,jdbcType=VARCHAR},
      </if>
      <if test="row.specification != null">
        specification = #{row.specification,jdbcType=VARCHAR},
      </if>
      <if test="row.packingType != null">
        packing_type = #{row.packingType,jdbcType=VARCHAR},
      </if>
      <if test="row.netWeight != null">
        net_weight = #{row.netWeight,jdbcType=VARCHAR},
      </if>
      <if test="row.transportLog != null">
        transport_log = #{row.transportLog,jdbcType=VARCHAR},
      </if>
      <if test="row.pic != null">
        pic = #{row.pic,jdbcType=VARCHAR},
      </if>
      <if test="row.qualityCertificate != null">
        quality_certificate = #{row.qualityCertificate,jdbcType=VARCHAR},
      </if>
      <if test="row.standardNumber != null">
        standard_number = #{row.standardNumber,jdbcType=VARCHAR},
      </if>
      <if test="row.miningTechnology != null">
        mining_technology = #{row.miningTechnology,jdbcType=VARCHAR},
      </if>
      <if test="row.mine != null">
        mine = #{row.mine,jdbcType=VARCHAR},
      </if>
      <if test="row.separate != null">
        separate = #{row.separate,jdbcType=VARCHAR},
      </if>
      <if test="row.oxygenLevels != null">
        oxygen_levels = #{row.oxygenLevels,jdbcType=VARCHAR},
      </if>
      <if test="row.pressure != null">
        pressure = #{row.pressure,jdbcType=VARCHAR},
      </if>
      <if test="row.magneticField != null">
        magnetic_field = #{row.magneticField,jdbcType=VARCHAR},
      </if>
      <if test="row.nd != null">
        Nd = #{row.nd,jdbcType=VARCHAR},
      </if>
      <if test="row.co != null">
        Co = #{row.co,jdbcType=VARCHAR},
      </if>
      <if test="row.b != null">
        B = #{row.b,jdbcType=VARCHAR},
      </if>
      <if test="row.dyTbPr != null">
        Dy_Tb_Pr = #{row.dyTbPr,jdbcType=VARCHAR},
      </if>
      <if test="row.other != null">
        other = #{row.other,jdbcType=VARCHAR},
      </if>
      <if test="row.re != null">
        RE = #{row.re,jdbcType=VARCHAR},
      </if>
      <if test="row.ndRe != null">
        Nd_RE = #{row.ndRe,jdbcType=VARCHAR},
      </if>
      <if test="row.dyRe != null">
        Dy_RE = #{row.dyRe,jdbcType=VARCHAR},
      </if>
      <if test="row.reo != null">
        REO = #{row.reo,jdbcType=VARCHAR},
      </if>
      <if test="row.nd2o3Reo != null">
        Nd2O3_REO = #{row.nd2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="row.nd2o3 != null">
        Nd2O3 = #{row.nd2o3,jdbcType=VARCHAR},
      </if>
      <if test="row.dy2o3Reo != null">
        Dy2O3_REO = #{row.dy2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="row.reImpurities != null">
        RE_impurities = #{row.reImpurities,jdbcType=VARCHAR},
      </if>
      <if test="row.nonReImpurities != null">
        non_RE_impurities = #{row.nonReImpurities,jdbcType=VARCHAR},
      </if>
      <if test="row.description != null">
        description = #{row.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ret_product
    set id = #{row.id,jdbcType=BIGINT},
      factory_id = #{row.factoryId,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      batch_id = #{row.batchId,jdbcType=VARCHAR},
      factory = #{row.factory,jdbcType=VARCHAR},
      dispatch_time = #{row.dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{row.moistureProofLogo,jdbcType=VARCHAR},
      specification = #{row.specification,jdbcType=VARCHAR},
      packing_type = #{row.packingType,jdbcType=VARCHAR},
      net_weight = #{row.netWeight,jdbcType=VARCHAR},
      transport_log = #{row.transportLog,jdbcType=VARCHAR},
      pic = #{row.pic,jdbcType=VARCHAR},
      quality_certificate = #{row.qualityCertificate,jdbcType=VARCHAR},
      standard_number = #{row.standardNumber,jdbcType=VARCHAR},
      mining_technology = #{row.miningTechnology,jdbcType=VARCHAR},
      mine = #{row.mine,jdbcType=VARCHAR},
      separate = #{row.separate,jdbcType=VARCHAR},
      oxygen_levels = #{row.oxygenLevels,jdbcType=VARCHAR},
      pressure = #{row.pressure,jdbcType=VARCHAR},
      magnetic_field = #{row.magneticField,jdbcType=VARCHAR},
      Nd = #{row.nd,jdbcType=VARCHAR},
      Co = #{row.co,jdbcType=VARCHAR},
      B = #{row.b,jdbcType=VARCHAR},
      Dy_Tb_Pr = #{row.dyTbPr,jdbcType=VARCHAR},
      other = #{row.other,jdbcType=VARCHAR},
      RE = #{row.re,jdbcType=VARCHAR},
      Nd_RE = #{row.ndRe,jdbcType=VARCHAR},
      Dy_RE = #{row.dyRe,jdbcType=VARCHAR},
      REO = #{row.reo,jdbcType=VARCHAR},
      Nd2O3_REO = #{row.nd2o3Reo,jdbcType=VARCHAR},
      Nd2O3 = #{row.nd2o3,jdbcType=VARCHAR},
      Dy2O3_REO = #{row.dy2o3Reo,jdbcType=VARCHAR},
      RE_impurities = #{row.reImpurities,jdbcType=VARCHAR},
      non_RE_impurities = #{row.nonReImpurities,jdbcType=VARCHAR},
      description = #{row.description,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ret_product
    set id = #{row.id,jdbcType=BIGINT},
      factory_id = #{row.factoryId,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      batch_id = #{row.batchId,jdbcType=VARCHAR},
      factory = #{row.factory,jdbcType=VARCHAR},
      dispatch_time = #{row.dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{row.moistureProofLogo,jdbcType=VARCHAR},
      specification = #{row.specification,jdbcType=VARCHAR},
      packing_type = #{row.packingType,jdbcType=VARCHAR},
      net_weight = #{row.netWeight,jdbcType=VARCHAR},
      transport_log = #{row.transportLog,jdbcType=VARCHAR},
      pic = #{row.pic,jdbcType=VARCHAR},
      quality_certificate = #{row.qualityCertificate,jdbcType=VARCHAR},
      standard_number = #{row.standardNumber,jdbcType=VARCHAR},
      mining_technology = #{row.miningTechnology,jdbcType=VARCHAR},
      mine = #{row.mine,jdbcType=VARCHAR},
      separate = #{row.separate,jdbcType=VARCHAR},
      oxygen_levels = #{row.oxygenLevels,jdbcType=VARCHAR},
      pressure = #{row.pressure,jdbcType=VARCHAR},
      magnetic_field = #{row.magneticField,jdbcType=VARCHAR},
      Nd = #{row.nd,jdbcType=VARCHAR},
      Co = #{row.co,jdbcType=VARCHAR},
      B = #{row.b,jdbcType=VARCHAR},
      Dy_Tb_Pr = #{row.dyTbPr,jdbcType=VARCHAR},
      other = #{row.other,jdbcType=VARCHAR},
      RE = #{row.re,jdbcType=VARCHAR},
      Nd_RE = #{row.ndRe,jdbcType=VARCHAR},
      Dy_RE = #{row.dyRe,jdbcType=VARCHAR},
      REO = #{row.reo,jdbcType=VARCHAR},
      Nd2O3_REO = #{row.nd2o3Reo,jdbcType=VARCHAR},
      Nd2O3 = #{row.nd2o3,jdbcType=VARCHAR},
      Dy2O3_REO = #{row.dy2o3Reo,jdbcType=VARCHAR},
      RE_impurities = #{row.reImpurities,jdbcType=VARCHAR},
      non_RE_impurities = #{row.nonReImpurities,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    update ret_product
    <set>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null">
        dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moistureProofLogo != null">
        moisture_proof_logo = #{moistureProofLogo,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="packingType != null">
        packing_type = #{packingType,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null">
        net_weight = #{netWeight,jdbcType=VARCHAR},
      </if>
      <if test="transportLog != null">
        transport_log = #{transportLog,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="qualityCertificate != null">
        quality_certificate = #{qualityCertificate,jdbcType=VARCHAR},
      </if>
      <if test="standardNumber != null">
        standard_number = #{standardNumber,jdbcType=VARCHAR},
      </if>
      <if test="miningTechnology != null">
        mining_technology = #{miningTechnology,jdbcType=VARCHAR},
      </if>
      <if test="mine != null">
        mine = #{mine,jdbcType=VARCHAR},
      </if>
      <if test="separate != null">
        separate = #{separate,jdbcType=VARCHAR},
      </if>
      <if test="oxygenLevels != null">
        oxygen_levels = #{oxygenLevels,jdbcType=VARCHAR},
      </if>
      <if test="pressure != null">
        pressure = #{pressure,jdbcType=VARCHAR},
      </if>
      <if test="magneticField != null">
        magnetic_field = #{magneticField,jdbcType=VARCHAR},
      </if>
      <if test="nd != null">
        Nd = #{nd,jdbcType=VARCHAR},
      </if>
      <if test="co != null">
        Co = #{co,jdbcType=VARCHAR},
      </if>
      <if test="b != null">
        B = #{b,jdbcType=VARCHAR},
      </if>
      <if test="dyTbPr != null">
        Dy_Tb_Pr = #{dyTbPr,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="re != null">
        RE = #{re,jdbcType=VARCHAR},
      </if>
      <if test="ndRe != null">
        Nd_RE = #{ndRe,jdbcType=VARCHAR},
      </if>
      <if test="dyRe != null">
        Dy_RE = #{dyRe,jdbcType=VARCHAR},
      </if>
      <if test="reo != null">
        REO = #{reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3Reo != null">
        Nd2O3_REO = #{nd2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3 != null">
        Nd2O3 = #{nd2o3,jdbcType=VARCHAR},
      </if>
      <if test="dy2o3Reo != null">
        Dy2O3_REO = #{dy2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="reImpurities != null">
        RE_impurities = #{reImpurities,jdbcType=VARCHAR},
      </if>
      <if test="nonReImpurities != null">
        non_RE_impurities = #{nonReImpurities,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    update ret_product
    set factory_id = #{factoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      batch_id = #{batchId,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{moistureProofLogo,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      packing_type = #{packingType,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=VARCHAR},
      transport_log = #{transportLog,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      quality_certificate = #{qualityCertificate,jdbcType=VARCHAR},
      standard_number = #{standardNumber,jdbcType=VARCHAR},
      mining_technology = #{miningTechnology,jdbcType=VARCHAR},
      mine = #{mine,jdbcType=VARCHAR},
      separate = #{separate,jdbcType=VARCHAR},
      oxygen_levels = #{oxygenLevels,jdbcType=VARCHAR},
      pressure = #{pressure,jdbcType=VARCHAR},
      magnetic_field = #{magneticField,jdbcType=VARCHAR},
      Nd = #{nd,jdbcType=VARCHAR},
      Co = #{co,jdbcType=VARCHAR},
      B = #{b,jdbcType=VARCHAR},
      Dy_Tb_Pr = #{dyTbPr,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      RE = #{re,jdbcType=VARCHAR},
      Nd_RE = #{ndRe,jdbcType=VARCHAR},
      Dy_RE = #{dyRe,jdbcType=VARCHAR},
      REO = #{reo,jdbcType=VARCHAR},
      Nd2O3_REO = #{nd2o3Reo,jdbcType=VARCHAR},
      Nd2O3 = #{nd2o3,jdbcType=VARCHAR},
      Dy2O3_REO = #{dy2o3Reo,jdbcType=VARCHAR},
      RE_impurities = #{reImpurities,jdbcType=VARCHAR},
      non_RE_impurities = #{nonReImpurities,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    update ret_product
    set factory_id = #{factoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      batch_id = #{batchId,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{moistureProofLogo,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      packing_type = #{packingType,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=VARCHAR},
      transport_log = #{transportLog,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      quality_certificate = #{qualityCertificate,jdbcType=VARCHAR},
      standard_number = #{standardNumber,jdbcType=VARCHAR},
      mining_technology = #{miningTechnology,jdbcType=VARCHAR},
      mine = #{mine,jdbcType=VARCHAR},
      separate = #{separate,jdbcType=VARCHAR},
      oxygen_levels = #{oxygenLevels,jdbcType=VARCHAR},
      pressure = #{pressure,jdbcType=VARCHAR},
      magnetic_field = #{magneticField,jdbcType=VARCHAR},
      Nd = #{nd,jdbcType=VARCHAR},
      Co = #{co,jdbcType=VARCHAR},
      B = #{b,jdbcType=VARCHAR},
      Dy_Tb_Pr = #{dyTbPr,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      RE = #{re,jdbcType=VARCHAR},
      Nd_RE = #{ndRe,jdbcType=VARCHAR},
      Dy_RE = #{dyRe,jdbcType=VARCHAR},
      REO = #{reo,jdbcType=VARCHAR},
      Nd2O3_REO = #{nd2o3Reo,jdbcType=VARCHAR},
      Nd2O3 = #{nd2o3,jdbcType=VARCHAR},
      Dy2O3_REO = #{dy2o3Reo,jdbcType=VARCHAR},
      RE_impurities = #{reImpurities,jdbcType=VARCHAR},
      non_RE_impurities = #{nonReImpurities,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>