<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rare_earth_track.mgb.mapper.RetProductMapper">
  <resultMap id="BaseResultMap" type="com.rare_earth_track.mgb.model.RetProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="batch_id" jdbcType="VARCHAR" property="batchId" />
    <result column="dispatch_time" jdbcType="TIMESTAMP" property="dispatchTime" />
    <result column="moisture_proof_logo" jdbcType="VARCHAR" property="moistureProofLogo" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="packing_type" jdbcType="VARCHAR" property="packingType" />
    <result column="net_weight" jdbcType="VARCHAR" property="netWeight" />
    <result column="transport_log" jdbcType="VARCHAR" property="transportLog" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="purity" jdbcType="VARCHAR" property="purity" />
    <result column="production_equipment" jdbcType="VARCHAR" property="productionEquipment" />
    <result column="material_ratio" jdbcType="VARCHAR" property="materialRatio" />
    <result column="extraction_unit" jdbcType="VARCHAR" property="extractionUnit" />
    <result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rare_earth_track.mgb.model.RetProduct">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, factory_id, name, batch_id, dispatch_time, moisture_proof_logo, specification, 
    packing_type, net_weight, transport_log, pic, purity, production_equipment, material_ratio, 
    extraction_unit, album_pics
  </sql>
  <sql id="Blob_Column_List">
    description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.rare_earth_track.mgb.model.RetProductExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.rare_earth_track.mgb.model.RetProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ret_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ret_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.rare_earth_track.mgb.model.RetProductExample">
    delete from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ret_product (factory_id, name, batch_id, 
      dispatch_time, moisture_proof_logo, specification, 
      packing_type, net_weight, transport_log, 
      pic, purity, production_equipment, 
      material_ratio, extraction_unit, album_pics, 
      description)
    values (#{factoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{batchId,jdbcType=VARCHAR}, 
      #{dispatchTime,jdbcType=TIMESTAMP}, #{moistureProofLogo,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR}, 
      #{packingType,jdbcType=VARCHAR}, #{netWeight,jdbcType=VARCHAR}, #{transportLog,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{purity,jdbcType=VARCHAR}, #{productionEquipment,jdbcType=VARCHAR}, 
      #{materialRatio,jdbcType=VARCHAR}, #{extractionUnit,jdbcType=VARCHAR}, #{albumPics,jdbcType=VARCHAR}, 
      #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ret_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="batchId != null">
        batch_id,
      </if>
      <if test="dispatchTime != null">
        dispatch_time,
      </if>
      <if test="moistureProofLogo != null">
        moisture_proof_logo,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="packingType != null">
        packing_type,
      </if>
      <if test="netWeight != null">
        net_weight,
      </if>
      <if test="transportLog != null">
        transport_log,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="purity != null">
        purity,
      </if>
      <if test="productionEquipment != null">
        production_equipment,
      </if>
      <if test="materialRatio != null">
        material_ratio,
      </if>
      <if test="extractionUnit != null">
        extraction_unit,
      </if>
      <if test="albumPics != null">
        album_pics,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null">
        #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moistureProofLogo != null">
        #{moistureProofLogo,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="packingType != null">
        #{packingType,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null">
        #{netWeight,jdbcType=VARCHAR},
      </if>
      <if test="transportLog != null">
        #{transportLog,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="purity != null">
        #{purity,jdbcType=VARCHAR},
      </if>
      <if test="productionEquipment != null">
        #{productionEquipment,jdbcType=VARCHAR},
      </if>
      <if test="materialRatio != null">
        #{materialRatio,jdbcType=VARCHAR},
      </if>
      <if test="extractionUnit != null">
        #{extractionUnit,jdbcType=VARCHAR},
      </if>
      <if test="albumPics != null">
        #{albumPics,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rare_earth_track.mgb.model.RetProductExample" resultType="java.lang.Long">
    select count(*) from ret_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ret_product
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.factoryId != null">
        factory_id = #{row.factoryId,jdbcType=BIGINT},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.batchId != null">
        batch_id = #{row.batchId,jdbcType=VARCHAR},
      </if>
      <if test="row.dispatchTime != null">
        dispatch_time = #{row.dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.moistureProofLogo != null">
        moisture_proof_logo = #{row.moistureProofLogo,jdbcType=VARCHAR},
      </if>
      <if test="row.specification != null">
        specification = #{row.specification,jdbcType=VARCHAR},
      </if>
      <if test="row.packingType != null">
        packing_type = #{row.packingType,jdbcType=VARCHAR},
      </if>
      <if test="row.netWeight != null">
        net_weight = #{row.netWeight,jdbcType=VARCHAR},
      </if>
      <if test="row.transportLog != null">
        transport_log = #{row.transportLog,jdbcType=VARCHAR},
      </if>
      <if test="row.pic != null">
        pic = #{row.pic,jdbcType=VARCHAR},
      </if>
      <if test="row.purity != null">
        purity = #{row.purity,jdbcType=VARCHAR},
      </if>
      <if test="row.productionEquipment != null">
        production_equipment = #{row.productionEquipment,jdbcType=VARCHAR},
      </if>
      <if test="row.materialRatio != null">
        material_ratio = #{row.materialRatio,jdbcType=VARCHAR},
      </if>
      <if test="row.extractionUnit != null">
        extraction_unit = #{row.extractionUnit,jdbcType=VARCHAR},
      </if>
      <if test="row.albumPics != null">
        album_pics = #{row.albumPics,jdbcType=VARCHAR},
      </if>
      <if test="row.description != null">
        description = #{row.description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update ret_product
    set id = #{row.id,jdbcType=BIGINT},
      factory_id = #{row.factoryId,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      batch_id = #{row.batchId,jdbcType=VARCHAR},
      dispatch_time = #{row.dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{row.moistureProofLogo,jdbcType=VARCHAR},
      specification = #{row.specification,jdbcType=VARCHAR},
      packing_type = #{row.packingType,jdbcType=VARCHAR},
      net_weight = #{row.netWeight,jdbcType=VARCHAR},
      transport_log = #{row.transportLog,jdbcType=VARCHAR},
      pic = #{row.pic,jdbcType=VARCHAR},
      purity = #{row.purity,jdbcType=VARCHAR},
      production_equipment = #{row.productionEquipment,jdbcType=VARCHAR},
      material_ratio = #{row.materialRatio,jdbcType=VARCHAR},
      extraction_unit = #{row.extractionUnit,jdbcType=VARCHAR},
      album_pics = #{row.albumPics,jdbcType=VARCHAR},
      description = #{row.description,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ret_product
    set id = #{row.id,jdbcType=BIGINT},
      factory_id = #{row.factoryId,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      batch_id = #{row.batchId,jdbcType=VARCHAR},
      dispatch_time = #{row.dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{row.moistureProofLogo,jdbcType=VARCHAR},
      specification = #{row.specification,jdbcType=VARCHAR},
      packing_type = #{row.packingType,jdbcType=VARCHAR},
      net_weight = #{row.netWeight,jdbcType=VARCHAR},
      transport_log = #{row.transportLog,jdbcType=VARCHAR},
      pic = #{row.pic,jdbcType=VARCHAR},
      purity = #{row.purity,jdbcType=VARCHAR},
      production_equipment = #{row.productionEquipment,jdbcType=VARCHAR},
      material_ratio = #{row.materialRatio,jdbcType=VARCHAR},
      extraction_unit = #{row.extractionUnit,jdbcType=VARCHAR},
      album_pics = #{row.albumPics,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    update ret_product
    <set>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null">
        batch_id = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="dispatchTime != null">
        dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moistureProofLogo != null">
        moisture_proof_logo = #{moistureProofLogo,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="packingType != null">
        packing_type = #{packingType,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null">
        net_weight = #{netWeight,jdbcType=VARCHAR},
      </if>
      <if test="transportLog != null">
        transport_log = #{transportLog,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="purity != null">
        purity = #{purity,jdbcType=VARCHAR},
      </if>
      <if test="productionEquipment != null">
        production_equipment = #{productionEquipment,jdbcType=VARCHAR},
      </if>
      <if test="materialRatio != null">
        material_ratio = #{materialRatio,jdbcType=VARCHAR},
      </if>
      <if test="extractionUnit != null">
        extraction_unit = #{extractionUnit,jdbcType=VARCHAR},
      </if>
      <if test="albumPics != null">
        album_pics = #{albumPics,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    update ret_product
    set factory_id = #{factoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      batch_id = #{batchId,jdbcType=VARCHAR},
      dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{moistureProofLogo,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      packing_type = #{packingType,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=VARCHAR},
      transport_log = #{transportLog,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      purity = #{purity,jdbcType=VARCHAR},
      production_equipment = #{productionEquipment,jdbcType=VARCHAR},
      material_ratio = #{materialRatio,jdbcType=VARCHAR},
      extraction_unit = #{extractionUnit,jdbcType=VARCHAR},
      album_pics = #{albumPics,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rare_earth_track.mgb.model.RetProduct">
    update ret_product
    set factory_id = #{factoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      batch_id = #{batchId,jdbcType=VARCHAR},
      dispatch_time = #{dispatchTime,jdbcType=TIMESTAMP},
      moisture_proof_logo = #{moistureProofLogo,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      packing_type = #{packingType,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=VARCHAR},
      transport_log = #{transportLog,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      purity = #{purity,jdbcType=VARCHAR},
      production_equipment = #{productionEquipment,jdbcType=VARCHAR},
      material_ratio = #{materialRatio,jdbcType=VARCHAR},
      extraction_unit = #{extractionUnit,jdbcType=VARCHAR},
      album_pics = #{albumPics,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>