<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rare_earth_track.mgb.mapper.RetGbReferenceMapper">
  <resultMap id="BaseResultMap" type="com.rare_earth_track.mgb.model.RetGbReference">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="standard_number" jdbcType="VARCHAR" property="standardNumber" />
    <result column="Nd" jdbcType="VARCHAR" property="nd" />
    <result column="Co" jdbcType="VARCHAR" property="co" />
    <result column="B" jdbcType="VARCHAR" property="b" />
    <result column="Dy_Tb_Pr" jdbcType="VARCHAR" property="dyTbPr" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="RE" jdbcType="VARCHAR" property="re" />
    <result column="Nd_RE" jdbcType="VARCHAR" property="ndRe" />
    <result column="Dy_RE" jdbcType="VARCHAR" property="dyRe" />
    <result column="REO" jdbcType="VARCHAR" property="reo" />
    <result column="Nd2O3_REO" jdbcType="VARCHAR" property="nd2o3Reo" />
    <result column="Nd2O3" jdbcType="VARCHAR" property="nd2o3" />
    <result column="Dy2O3_REO" jdbcType="VARCHAR" property="dy2o3Reo" />
    <result column="RE_impurities" jdbcType="VARCHAR" property="reImpurities" />
    <result column="non_RE_impurities" jdbcType="VARCHAR" property="nonReImpurities" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, standard_number, Nd, Co, B, Dy_Tb_Pr, other, RE, Nd_RE, Dy_RE, REO, Nd2O3_REO, 
    Nd2O3, Dy2O3_REO, RE_impurities, non_RE_impurities
  </sql>
  <select id="selectByExample" parameterType="com.rare_earth_track.mgb.model.RetGbReferenceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ret_gb_reference
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ret_gb_reference
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ret_gb_reference
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.rare_earth_track.mgb.model.RetGbReferenceExample">
    delete from ret_gb_reference
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rare_earth_track.mgb.model.RetGbReference">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ret_gb_reference (name, standard_number, Nd, 
      Co, B, Dy_Tb_Pr, other, 
      RE, Nd_RE, Dy_RE, REO, 
      Nd2O3_REO, Nd2O3, Dy2O3_REO, 
      RE_impurities, non_RE_impurities)
    values (#{name,jdbcType=VARCHAR}, #{standardNumber,jdbcType=VARCHAR}, #{nd,jdbcType=VARCHAR}, 
      #{co,jdbcType=VARCHAR}, #{b,jdbcType=VARCHAR}, #{dyTbPr,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, 
      #{re,jdbcType=VARCHAR}, #{ndRe,jdbcType=VARCHAR}, #{dyRe,jdbcType=VARCHAR}, #{reo,jdbcType=VARCHAR}, 
      #{nd2o3Reo,jdbcType=VARCHAR}, #{nd2o3,jdbcType=VARCHAR}, #{dy2o3Reo,jdbcType=VARCHAR}, 
      #{reImpurities,jdbcType=VARCHAR}, #{nonReImpurities,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rare_earth_track.mgb.model.RetGbReference">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ret_gb_reference
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="standardNumber != null">
        standard_number,
      </if>
      <if test="nd != null">
        Nd,
      </if>
      <if test="co != null">
        Co,
      </if>
      <if test="b != null">
        B,
      </if>
      <if test="dyTbPr != null">
        Dy_Tb_Pr,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="re != null">
        RE,
      </if>
      <if test="ndRe != null">
        Nd_RE,
      </if>
      <if test="dyRe != null">
        Dy_RE,
      </if>
      <if test="reo != null">
        REO,
      </if>
      <if test="nd2o3Reo != null">
        Nd2O3_REO,
      </if>
      <if test="nd2o3 != null">
        Nd2O3,
      </if>
      <if test="dy2o3Reo != null">
        Dy2O3_REO,
      </if>
      <if test="reImpurities != null">
        RE_impurities,
      </if>
      <if test="nonReImpurities != null">
        non_RE_impurities,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="standardNumber != null">
        #{standardNumber,jdbcType=VARCHAR},
      </if>
      <if test="nd != null">
        #{nd,jdbcType=VARCHAR},
      </if>
      <if test="co != null">
        #{co,jdbcType=VARCHAR},
      </if>
      <if test="b != null">
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="dyTbPr != null">
        #{dyTbPr,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="re != null">
        #{re,jdbcType=VARCHAR},
      </if>
      <if test="ndRe != null">
        #{ndRe,jdbcType=VARCHAR},
      </if>
      <if test="dyRe != null">
        #{dyRe,jdbcType=VARCHAR},
      </if>
      <if test="reo != null">
        #{reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3Reo != null">
        #{nd2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3 != null">
        #{nd2o3,jdbcType=VARCHAR},
      </if>
      <if test="dy2o3Reo != null">
        #{dy2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="reImpurities != null">
        #{reImpurities,jdbcType=VARCHAR},
      </if>
      <if test="nonReImpurities != null">
        #{nonReImpurities,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rare_earth_track.mgb.model.RetGbReferenceExample" resultType="java.lang.Long">
    select count(*) from ret_gb_reference
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ret_gb_reference
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.name != null">
        name = #{row.name,jdbcType=VARCHAR},
      </if>
      <if test="row.standardNumber != null">
        standard_number = #{row.standardNumber,jdbcType=VARCHAR},
      </if>
      <if test="row.nd != null">
        Nd = #{row.nd,jdbcType=VARCHAR},
      </if>
      <if test="row.co != null">
        Co = #{row.co,jdbcType=VARCHAR},
      </if>
      <if test="row.b != null">
        B = #{row.b,jdbcType=VARCHAR},
      </if>
      <if test="row.dyTbPr != null">
        Dy_Tb_Pr = #{row.dyTbPr,jdbcType=VARCHAR},
      </if>
      <if test="row.other != null">
        other = #{row.other,jdbcType=VARCHAR},
      </if>
      <if test="row.re != null">
        RE = #{row.re,jdbcType=VARCHAR},
      </if>
      <if test="row.ndRe != null">
        Nd_RE = #{row.ndRe,jdbcType=VARCHAR},
      </if>
      <if test="row.dyRe != null">
        Dy_RE = #{row.dyRe,jdbcType=VARCHAR},
      </if>
      <if test="row.reo != null">
        REO = #{row.reo,jdbcType=VARCHAR},
      </if>
      <if test="row.nd2o3Reo != null">
        Nd2O3_REO = #{row.nd2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="row.nd2o3 != null">
        Nd2O3 = #{row.nd2o3,jdbcType=VARCHAR},
      </if>
      <if test="row.dy2o3Reo != null">
        Dy2O3_REO = #{row.dy2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="row.reImpurities != null">
        RE_impurities = #{row.reImpurities,jdbcType=VARCHAR},
      </if>
      <if test="row.nonReImpurities != null">
        non_RE_impurities = #{row.nonReImpurities,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ret_gb_reference
    set id = #{row.id,jdbcType=BIGINT},
      name = #{row.name,jdbcType=VARCHAR},
      standard_number = #{row.standardNumber,jdbcType=VARCHAR},
      Nd = #{row.nd,jdbcType=VARCHAR},
      Co = #{row.co,jdbcType=VARCHAR},
      B = #{row.b,jdbcType=VARCHAR},
      Dy_Tb_Pr = #{row.dyTbPr,jdbcType=VARCHAR},
      other = #{row.other,jdbcType=VARCHAR},
      RE = #{row.re,jdbcType=VARCHAR},
      Nd_RE = #{row.ndRe,jdbcType=VARCHAR},
      Dy_RE = #{row.dyRe,jdbcType=VARCHAR},
      REO = #{row.reo,jdbcType=VARCHAR},
      Nd2O3_REO = #{row.nd2o3Reo,jdbcType=VARCHAR},
      Nd2O3 = #{row.nd2o3,jdbcType=VARCHAR},
      Dy2O3_REO = #{row.dy2o3Reo,jdbcType=VARCHAR},
      RE_impurities = #{row.reImpurities,jdbcType=VARCHAR},
      non_RE_impurities = #{row.nonReImpurities,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rare_earth_track.mgb.model.RetGbReference">
    update ret_gb_reference
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="standardNumber != null">
        standard_number = #{standardNumber,jdbcType=VARCHAR},
      </if>
      <if test="nd != null">
        Nd = #{nd,jdbcType=VARCHAR},
      </if>
      <if test="co != null">
        Co = #{co,jdbcType=VARCHAR},
      </if>
      <if test="b != null">
        B = #{b,jdbcType=VARCHAR},
      </if>
      <if test="dyTbPr != null">
        Dy_Tb_Pr = #{dyTbPr,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="re != null">
        RE = #{re,jdbcType=VARCHAR},
      </if>
      <if test="ndRe != null">
        Nd_RE = #{ndRe,jdbcType=VARCHAR},
      </if>
      <if test="dyRe != null">
        Dy_RE = #{dyRe,jdbcType=VARCHAR},
      </if>
      <if test="reo != null">
        REO = #{reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3Reo != null">
        Nd2O3_REO = #{nd2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="nd2o3 != null">
        Nd2O3 = #{nd2o3,jdbcType=VARCHAR},
      </if>
      <if test="dy2o3Reo != null">
        Dy2O3_REO = #{dy2o3Reo,jdbcType=VARCHAR},
      </if>
      <if test="reImpurities != null">
        RE_impurities = #{reImpurities,jdbcType=VARCHAR},
      </if>
      <if test="nonReImpurities != null">
        non_RE_impurities = #{nonReImpurities,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rare_earth_track.mgb.model.RetGbReference">
    update ret_gb_reference
    set name = #{name,jdbcType=VARCHAR},
      standard_number = #{standardNumber,jdbcType=VARCHAR},
      Nd = #{nd,jdbcType=VARCHAR},
      Co = #{co,jdbcType=VARCHAR},
      B = #{b,jdbcType=VARCHAR},
      Dy_Tb_Pr = #{dyTbPr,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      RE = #{re,jdbcType=VARCHAR},
      Nd_RE = #{ndRe,jdbcType=VARCHAR},
      Dy_RE = #{dyRe,jdbcType=VARCHAR},
      REO = #{reo,jdbcType=VARCHAR},
      Nd2O3_REO = #{nd2o3Reo,jdbcType=VARCHAR},
      Nd2O3 = #{nd2o3,jdbcType=VARCHAR},
      Dy2O3_REO = #{dy2o3Reo,jdbcType=VARCHAR},
      RE_impurities = #{reImpurities,jdbcType=VARCHAR},
      non_RE_impurities = #{nonReImpurities,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>